#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;

}

.primary-background {
  background-color: blue;
}

.secondary-background {
  background-color: gray;
}

.success-background {
  background-color: green;
}

.warning-background {
  background-color: yellow
}
